#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.vehicleContainer {
    background-color: gray;
    margin: 15px;
}
.vehicleContainer p {
    text-align: center;
    color: #ffffff;
    margin: 0 10px 10px 10px;
}
img {
    width: 52vh;
    height: 30vh;
    padding: 10px 10px 0 10px;
    margin-bottom: 0;
}
